In [1]:
import pandas as pd
from pulp import *

In [2]:
# !pip install openpyxl

## Plant Location

#### Manufacturing variable costs

In [3]:
# Import Costs
manvar_costs = pd.read_excel('variable_costs.xlsx', index_col = 0)
manvar_costs

                         USA  Germany  Japan  Brazil  India
Variable Costs ($/Unit)
USA                       12       12     12      12     12
Germany                   13       13     13      13     13
Japan                     10       10     10      10     10
Brazil                     8        8      8       8      8
India                      5        5      5       5      5

In [4]:
time_cost = pd.read_excel('time_cost.xlsx', index_col = 0)

In [5]:
time_cost

                       USA  Germany  Japan  Brazil  India
Variable time (hours)
USA                      0       10      8       2     32
Germany                 10        0     28       8     12
Japan                    8       28      0      10     14
Brazil                   2        8     10       0     18
India                   32       12     14      18      0

In [6]:
fresh = 30
fresh_time = time_cost.copy()
for i in fresh_time:
    for j in fresh_time:
        if i!=j:
            fresh_time[i][j] = fresh

In [7]:
fresh_time

                       USA  Germany  Japan  Brazil  India
Variable time (hours)
USA                      0       30     30      30     30
Germany                 30        0     30      30     30
Japan                   30       30      0      30     30
Brazil                  30       30     30       0     30
India                   30       30     30      30      0

In [8]:
expire_time = time_cost - fresh_time
expire_time

                       USA  Germany  Japan  Brazil  India
Variable time (hours)
USA                      0      -20    -22     -28      2
Germany                -20        0     -2     -22    -18
Japan                  -22       -2      0     -20    -16
Brazil                 -28      -22    -20       0    -12
India                    2      -18    -16     -12      0

#### Freight costs

In [9]:
# Import Costs
freight_costs = pd.read_excel('freight_costs.xlsx', index_col = 0)
freight_costs

                               USA  Germany  Japan  Brazil  India
Freight Costs ($/Container)
USA                              0    12250   1100   16100   8778
Germany                      13335        0   8617   20244  10073
Japan                        15400    22750      0   43610  14350
Brazil                       16450    22050  28000       0  29750
India                        13650    15400  24500   29400      0

#### Variable Costs

In [10]:
# Variable Costs
var_cost = freight_costs/1000 + manvar_costs 

var_cost

                                USA  Germany   Japan  Brazil   India
Freight Costs ($/Container)
USA                          12.000    24.25  13.100  28.100  20.778
Germany                      26.335    13.00  21.617  33.244  23.073
Japan                        25.400    32.75  10.000  53.610  24.350
Brazil                       24.450    30.05  36.000   8.000  37.750
India                        18.650    20.40  29.500  34.400   5.000

#### Fixed Costs

In [11]:
# Import Costs
fixed_costs = pd.read_excel('fixed_cost.xlsx', index_col = 0)
fixed_costs

          Low  High
USA      6500  9500
Germany  4980  7270
Japan    6230  9100
Brazil   3230  4730
India    2110  6160

#### Plants Capacity

In [12]:
# Two types of plants: Low Capacity and High Capacity Plant
cap = pd.read_excel('capacity.xlsx', index_col = 0)
cap

                         Low  High
Capacity (kUnits/month)
USA                      500  1500
Germany                  500  1500
Japan                    500  1500
Brazil                   500  1500
India                    500  3000

#### Demand

In [13]:
# -- Demand
demand = pd.read_excel('demand_3.xlsx', index_col = 0)
demand

                Demand
(Units/month)
USA            2800000
Germany         550000
Japan                0
Brazil               0
India           239000

In [14]:
# Define Decision Variables
loc = ['USA', 'Germany', 'Japan', 'Brazil', 'India']
size = ['Low', 'High']

# Initialize Class
model = LpProblem("Capacitated Plant Location Model", LpMinimize)


# Create Decision Variables
x = LpVariable.dicts("production_", [(i,j) for i in loc for j in loc],
                     lowBound=0, upBound=None, cat='continuous')
y = LpVariable.dicts("plant_", 
                     [(i,s) for s in size for i in loc], cat='Binary')
# z = LpVariable.dicts("time_", [(i,j) for i in loc for j in loc],
#                      lowBound=0, upBound=None)

# Define Objective Function
model += (lpSum([fixed_costs.loc[i,s] * y[(i,s)] * 1000 for s in size for i in loc])
          + lpSum([var_cost.loc[i,j] * x[(i,j)]   for i in loc for j in loc]))

# Add Constraints
for j in loc:
    model += lpSum([x[(i, j)] for i in loc]) == demand.loc[j,'Demand']
for i in loc:
    model += lpSum([x[(i, j)] for j in loc]) <= lpSum([cap.loc[i,s]*y[(i,s)] * 1000
                                                       for s in size])
for i in loc:
    for j in loc:
        model+= lpSum(x[(i, j)]*time_cost.loc[i, j]) <= lpSum(fresh*x[(i, j)])
    #time_cost


# Define logical constraint: Add a logical constraint so that if the high capacity plant in USA is open, then a low capacity plant in Germany is also opened.
# model += y[('USA','High_Cap')] <= y[('Germany','Low_Cap')]                                                       
                                                       
# Solve Model
model.solve()
print("Total Costs = {:,} ($/Month)".format(int(value(model.objective))))
print('\n' + "Status: {}".format(LpStatus[model.status]))


# Dictionnary
dict_plant = {}
dict_prod = {}
for v in model.variables():
    if 'plant' in v.name:
        name = v.name.replace('plant__', '').replace('_', '')
        dict_plant[name] = int(v.varValue)
        p_name = name
    else:
        name = v.name.replace('production__', '').replace('_', '')
        dict_prod[name] = v.varValue
    print(name, "=", v.varValue)

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /home/animesh/.local/lib/python3.8/site-packages/pulp/solverdir/cbc/linux/64/cbc /tmp/e780f4e36b21445bbaa646bd3c534875-pulp.mps timeMode elapsed branch printingOptions all solution /tmp/e780f4e36b21445bbaa646bd3c534875-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 40 COLUMNS
At line 181 RHS
At line 217 BOUNDS
At line 228 ENDATA
Problem MODEL has 35 rows, 35 columns and 85 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Continuous objective value is 7.35841e+07 - 0.00 seconds
Cgl0004I processed model has 8 rows, 23 columns (10 integer (10 of which binary)) and 36 elements
Cbc0038I Initial state - 3 integers unsatisfied sum - 1.31133
Cbc0038I Pass   1: suminf.    0.05933 (1) obj. 9.18193e+07 iterations 6
Cbc0038I Solution found of 9.86579e+07
Cbc0038I Relaxing continuous gives 8.42244e+07
Cbc0038I Before mini branch and bound, 7 integers at bound fixed and 7 continuous
Cbc0038I Full problem 8 rows 23 columns, reduced to 4 rows 5 columns
Cbc0038I Mini branch and bound improved solution from 8.42244e+07 to 8.2015e+07 (0.00 seconds)
Cbc0038I Round again with cutoff of 8.12237e+07
Cbc0038I Reduced cost fixing fixed 1 variables on major pass 2
Cbc0038I Pass   2: suminf.    0.46343 (2) obj. 8.12237e+07 iterations 4
Cbc0038I Pass   3: suminf.    0.40514 (2) obj. 8.12237e+07 iterations 3
Cbc0038I Pass   4: suminf.    0.30639 (2) obj. 8.12237e+07 iterations 1
Cbc0038I Pass   5: suminf.    0.37819 (2) obj. 8.12237e+07 iterations 2
Cbc0038I Pass   6: suminf.    1.01837 (3) obj. 8.12237e+07 iterations 1
Cbc0038I Pass   7: suminf.    1.01837 (3) obj. 8.12237e+07 iterations 0
Cbc0038I Pass   8: suminf.    1.01837 (3) obj. 8.12237e+07 iterations 0
Cbc0038I Pass   9: suminf.    1.01837 (3) obj. 8.12237e+07 iterations 0
Cbc0038I Pass  10: suminf.    0.40514 (2) obj. 8.12237e+07 iterations 2
Cbc0038I Pass  11: suminf.    0.30639 (2) obj. 8.12237e+07 iterations 1
Cbc0038I Pass  12: suminf.    0.37819 (2) obj. 8.12237e+07 iterations 2
Cbc0038I Pass  13: suminf.    0.34037 (2) obj. 8.12237e+07 iterations 1
Cbc0038I Pass  14: suminf.    0.34037 (2) obj. 8.12237e+07 iterations 0
Cbc0038I Pass  15: suminf.    0.25506 (2) obj. 8.12237e+07 iterations 6
Cbc0038I Pass  16: suminf.    0.42960 (1) obj. 8.12237e+07 iterations 5
Cbc0038I Pass  17: suminf.    0.24603 (2) obj. 8.12237e+07 iterations 4
Cbc0038I Pass  18: suminf.    0.44220 (2) obj. 8.12237e+07 iterations 3
Cbc0038I Pass  19: suminf.    0.42960 (1) obj. 8.12237e+07 iterations 1
Cbc0038I Pass  20: suminf.    0.42960 (1) obj. 8.12237e+07 iterations 0
Cbc0038I Pass  21: suminf.    0.42960 (1) obj. 8.12237e+07 iterations 0
Cbc0038I Pass  22: suminf.    0.42960 (1) obj. 8.12237e+07 iterations 0
Cbc0038I Pass  23: suminf.    0.22787 (1) obj. 8.12237e+07 iterations 1
Cbc0038I Solution found of 7.982e+07
Cbc0038I Relaxing continuous gives 7.982e+07
Cbc0038I Before mini branch and bound, 3 integers at bound fixed and 7 continuous
Cbc0038I Full problem 8 rows 23 columns, reduced to 4 rows 7 columns
Cbc0038I Mini branch and bound did not improve solution (0.00 seconds)
Cbc0038I Round again with cutoff of 7.86764e+07
Cbc0038I Reduced cost fixing fixed 3 variables on major pass 3
Cbc0038I Pass  24: suminf.    0.59287 (2) obj. 7.86764e+07 iterations 0
Cbc0038I Pass  25: suminf.    0.81866 (2) obj. 7.86764e+07 iterations 4
Cbc0038I Pass  26: suminf.    0.75712 (2) obj. 7.86764e+07 iterations 1
Cbc0038I Pass  27: suminf.    0.81866 (2) obj. 7.86764e+07 iterations 1
Cbc0038I Pass  28: suminf.    0.75712 (2) obj. 7.86764e+07 iterations 1
Cbc0038I Pass  29: suminf.    0.54324 (4) obj. 7.86764e+07 iterations 4
Cbc0038I Pass  30: suminf.    0.49388 (3) obj. 7.86764e+07 iterations 3
Cbc0038I Pass  31: suminf.    0.36760 (3) obj. 7.86764e+07 iterations 3
Cbc0038I Pass  32: suminf.    0.34927 (3) obj. 7.86764e+07 iterations 2
Cbc0038I Pass  33: suminf.    0.75851 (3) obj. 7.86764e+07 iterations 3
Cbc0038I Pass  34: suminf.    0.75851 (3) obj. 7.86764e+07 iterations 0
Cbc0038I Pass  35: suminf.    0.14490 (1) obj. 7.86764e+07 iterations 5
Cbc0038I Pass  36: suminf.    0.42141 (1) obj. 7.86764e+07 iterations 2
Cbc0038I Pass  37: suminf.    0.72858 (2) obj. 7.86764e+07 iterations 4
Cbc0038I Pass  38: suminf.    0.75712 (2) obj. 7.86764e+07 iterations 3
Cbc0038I Pass  39: suminf.    0.59287 (2) obj. 7.86764e+07 iterations 3
Cbc0038I Pass  40: suminf.    0.81866 (2) obj. 7.86764e+07 iterations 3
Cbc0038I Pass  41: suminf.    0.59287 (2) obj. 7.86764e+07 iterations 2
Cbc0038I Pass  42: suminf.    0.81866 (2) obj. 7.86764e+07 iterations 3
Cbc0038I Pass  43: suminf.    0.55140 (3) obj. 7.86764e+07 iterations 3
Cbc0038I Pass  44: suminf.    0.41832 (2) obj. 7.86764e+07 iterations 7
Cbc0038I Pass  45: suminf.    0.01604 (1) obj. 7.86764e+07 iterations 2
Cbc0038I Pass  46: suminf.    0.41565 (2) obj. 7.86764e+07 iterations 6
Cbc0038I Pass  47: suminf.    0.15993 (1) obj. 7.86764e+07 iterations 2
Cbc0038I Pass  48: suminf.    0.45923 (1) obj. 7.86764e+07 iterations 4
Cbc0038I Pass  49: suminf.    0.45923 (1) obj. 7.86764e+07 iterations 0
Cbc0038I Pass  50: suminf.    0.69091 (2) obj. 7.86764e+07 iterations 4
Cbc0038I Pass  51: suminf.    0.14490 (1) obj. 7.86764e+07 iterations 6
Cbc0038I Pass  52: suminf.    0.42141 (1) obj. 7.86764e+07 iterations 2
Cbc0038I Pass  53: suminf.    0.61678 (2) obj. 7.86764e+07 iterations 1
Cbc0038I Rounding solution of 7.8793e+07 is better than previous of 7.982e+07

Cbc0038I Before mini branch and bound, 4 integers at bound fixed and 5 continuous
Cbc0038I Full problem 8 rows 23 columns, reduced to 6 rows 13 columns
Cbc0038I Mini branch and bound did not improve solution (0.01 seconds)
Cbc0038I Round again with cutoff of 7.7304e+07
Cbc0038I Reduced cost fixing fixed 3 variables on major pass 4
Cbc0038I Pass  53: suminf.    0.66260 (2) obj. 7.7304e+07 iterations 0
Cbc0038I Pass  54: suminf.    0.69189 (2) obj. 7.7304e+07 iterations 4
Cbc0038I Pass  55: suminf.    0.91343 (4) obj. 7.7304e+07 iterations 3
Cbc0038I Pass  56: suminf.    0.84154 (3) obj. 7.7304e+07 iterations 4
Cbc0038I Pass  57: suminf.    0.38392 (2) obj. 7.7304e+07 iterations 5
Cbc0038I Pass  58: suminf.    0.38392 (2) obj. 7.7304e+07 iterations 0
Cbc0038I Pass  59: suminf.    0.35610 (2) obj. 7.7304e+07 iterations 3
Cbc0038I Pass  60: suminf.    0.35610 (2) obj. 7.7304e+07 iterations 0
Cbc0038I Pass  61: suminf.    0.84154 (3) obj. 7.7304e+07 iterations 5
Cbc0038I Pass  62: suminf.    0.84154 (3) obj. 7.7304e+07 iterations 0
Cbc0038I Pass  63: suminf.    1.01576 (3) obj. 7.7304e+07 iterations 5
Cbc0038I Pass  64: suminf.    0.84210 (3) obj. 7.7304e+07 iterations 4
Cbc0038I Pass  65: suminf.    1.01576 (3) obj. 7.7304e+07 iterations 4
Cbc0038I Pass  66: suminf.    1.38232 (4) obj. 7.7304e+07 iterations 3
Cbc0038I Pass  67: suminf.    1.25909 (3) obj. 7.7304e+07 iterations 4
Cbc0038I Pass  68: suminf.    1.23821 (3) obj. 7.7304e+07 iterations 3
Cbc0038I Pass  69: suminf.    1.14439 (3) obj. 7.7304e+07 iterations 1
Cbc0038I Pass  70: suminf.    0.29796 (2) obj. 7.7304e+07 iterations 6
Cbc0038I Pass  71: suminf.    0.76667 (2) obj. 7.7304e+07 iterations 4
Cbc0038I Pass  72: suminf.    0.38983 (1) obj. 7.7304e+07 iterations 3
Cbc0038I Pass  73: suminf.    0.71609 (3) obj. 7.7304e+07 iterations 5
Cbc0038I Pass  74: suminf.    0.71609 (3) obj. 7.7304e+07 iterations 0
Cbc0038I Pass  75: suminf.    0.75503 (3) obj. 7.7304e+07 iterations 4
Cbc0038I Pass  76: suminf.    0.50868 (3) obj. 7.7304e+07 iterations 1
Cbc0038I Pass  77: suminf.    0.74250 (3) obj. 7.7304e+07 iterations 5
Cbc0038I Pass  78: suminf.    0.35610 (2) obj. 7.7304e+07 iterations 1
Cbc0038I Pass  79: suminf.    0.38392 (2) obj. 7.7304e+07 iterations 4
Cbc0038I Pass  80: suminf.    0.38392 (2) obj. 7.7304e+07 iterations 0
Cbc0038I Pass  81: suminf.    0.38392 (2) obj. 7.7304e+07 iterations 0
Cbc0038I Pass  82: suminf.    1.24467 (3) obj. 7.7304e+07 iterations 4
Cbc0038I No solution found this major pass
Cbc0038I Before mini branch and bound, 3 integers at bound fixed and 5 continuous
Cbc0038I Full problem 8 rows 23 columns, reduced to 6 rows 14 columns
Cbc0038I Mini branch and bound did not improve solution (0.01 seconds)
Cbc0038I After 0.01 seconds - Feasibility pump exiting with objective of 7.8793e+07 - took 0.00 seconds
Cbc0012I Integer solution of 78793000 found by feasibility pump after 0 iterations and 0 nodes (0.01 seconds)
Cbc0038I Full problem 8 rows 23 columns, reduced to 7 rows 13 columns
Cbc0031I 5 added rows had average density of 4
Cbc0013I At root node, 9 cuts changed objective from 74101913 to 78793000 in 3 passes
Cbc0014I Cut generator 0 (Probing) - 4 row cuts average 2.0 elements, 0 column cuts (0 active)  in 0.000 seconds - new frequency is 1
Cbc0014I Cut generator 1 (Gomory) - 6 row cuts average 7.3 elements, 0 column cuts (0 active)  in 0.000 seconds - new frequency is 1
Cbc0014I Cut generator 2 (Knapsack) - 0 row cuts average 0.0 elements, 0 column cuts (0 active)  in 0.000 seconds - new frequency is -100
Cbc0014I Cut generator 3 (Clique) - 0 row cuts average 0.0 elements, 0 column cuts (0 active)  in 0.000 seconds - new frequency is -100
Cbc0014I Cut generator 4 (MixedIntegerRounding2) - 0 row cuts average 0.0 elements, 0 column cuts (0 active)  in 0.000 seconds - new frequency is -100
Cbc0014I Cut generator 5 (FlowCover) - 1 row cuts average 2.0 elements, 0 column cuts (0 active)  in 0.000 seconds - new frequency is -100
Cbc0014I Cut generator 6 (TwoMirCuts) - 10 row cuts average 4.9 elements, 0 column cuts (0 active)  in 0.000 seconds - new frequency is 1
Cbc0001I Search completed - best objective 78793000, took 14 iterations and 0 nodes (0.01 seconds)
Cbc0035I Maximum depth 0, 6 variables fixed on reduced cost
Cuts at root node changed objective from 7.41019e+07 to 7.8793e+07
Probing was tried 3 times and created 4 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Gomory was tried 3 times and created 6 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Knapsack was tried 3 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Clique was tried 3 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
MixedIntegerRounding2 was tried 3 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
FlowCover was tried 3 times and created 1 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
TwoMirCuts was tried 3 times and created 10 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
ZeroHalf was tried 1 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)

Result - Optimal solution found

Objective value:                78793000.00000000
Enumerated nodes:               0
Total iterations:               14
Time (CPU seconds):             0.00
Time (Wallclock seconds):       0.01

Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.01

Total Costs = 78,793,000 ($/Month)

Status: Optimal
('Brazil','High') = 0.0
('Brazil','Low') = 0.0
('Germany','High') = 1.0
('Germany','Low') = 0.0
('India','High') = 0.0
('India','Low') = 1.0
('Japan','High') = 0.0
('Japan','Low') = 0.0
('USA','High') = 1.0
('USA','Low') = 1.0
('Brazil','Brazil') = 0.0
('Brazil','Germany') = 0.0
('Brazil','India') = 0.0
('Brazil','Japan') = 0.0
('Brazil','USA') = 0.0
('Germany','Brazil') = 0.0
('Germany','Germany') = 550000.0
('Germany','India') = 0.0
('Germany','Japan') = 0.0
('Germany','USA') = 800000.0
('India','Brazil') = 0.0
('India','Germany') = 0.0
('India','India') = 239000.0
('India','Japan') = 0.0
('India','USA') = 0.0
('Japan','Brazil') = 0.0
('Japan','Germany') = 0.0
('Japan','India') = 0.0
('Japan','Japan') = 0.0
('Japan','USA') = 0.0
('USA','Brazil') = 0.0
('USA','Germany') = 0.0
('USA','India') = 0.0
('USA','Japan') = 0.0
('USA','USA') = 2000000.0

/home/animesh/.local/lib/python3.8/site-packages/pulp/pulp.py:1352: UserWarning: Spaces are not permitted in the name. Converted to '_'
  warnings.warn("Spaces are not permitted in the name. Converted to '_'")

In [15]:
# Capacity Plant
list_low, list_high = [], []
for l in loc:
    for cap in ['Low', 'High']:
        x = "('{}','{}')".format(l, cap)
        if cap == 'Low':
            list_low.append(dict_plant[x])
        else:
            list_high.append(dict_plant[x])
df_capacity = pd.DataFrame({'Location': loc, 'Low': list_low, 'High':
                            list_high}).set_index('Location')
    
df_capacity

          Low  High
Location
USA         1     1
Germany     0     1
Japan       0     0
Brazil      0     0
India       1     0

In [16]:
dict_plant

{"('Brazil','High')": 0,
 "('Brazil','Low')": 0,
 "('Germany','High')": 1,
 "('Germany','Low')": 0,
 "('India','High')": 0,
 "('India','Low')": 1,
 "('Japan','High')": 0,
 "('Japan','Low')": 0,
 "('USA','High')": 1,
 "('USA','Low')": 1}

In [17]:
model.variables()

[plant__('Brazil',_'High'),
 plant__('Brazil',_'Low'),
 plant__('Germany',_'High'),
 plant__('Germany',_'Low'),
 plant__('India',_'High'),
 plant__('India',_'Low'),
 plant__('Japan',_'High'),
 plant__('Japan',_'Low'),
 plant__('USA',_'High'),
 plant__('USA',_'Low'),
 production__('Brazil',_'Brazil'),
 production__('Brazil',_'Germany'),
 production__('Brazil',_'India'),
 production__('Brazil',_'Japan'),
 production__('Brazil',_'USA'),
 production__('Germany',_'Brazil'),
 production__('Germany',_'Germany'),
 production__('Germany',_'India'),
 production__('Germany',_'Japan'),
 production__('Germany',_'USA'),
 production__('India',_'Brazil'),
 production__('India',_'Germany'),
 production__('India',_'India'),
 production__('India',_'Japan'),
 production__('India',_'USA'),
 production__('Japan',_'Brazil'),
 production__('Japan',_'Germany'),
 production__('Japan',_'India'),
 production__('Japan',_'Japan'),
 production__('Japan',_'USA'),
 production__('USA',_'Brazil'),
 production__('USA',_'Germany'),
 production__('USA',_'India'),
 production__('USA',_'Japan'),
 production__('USA',_'USA')]

In [18]:
## Total Costs = 99,406,000 ($/Month)